<!--
 * * Title: about.component.html
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
-->

<html lang="en">

<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/scss" href="./careers.component.scss">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
  <title>ZRA</title>
</head>
<!------------------------Body Starts Here!------------------------->
<body>

  <!--Sidenav-->
  <div class="sidenav">

  
  <ul class="nav">

    <li><a routerLink="/about" data-hover="ABOUT">ABOUT</a></li>
    <li><a routerLink="/team" data-hover="TEAM">TEAM</a></li>
    <li><a routerLink="/contact" data-hover="CONTACT">CONTACT</a></li>
    <li><a routerLink="/contract" data-hover="CONTRACTS">CONTRACTS</a></li>
    <li><a routerLink="/careers" data-hover="CAREERS">CAREERS</a></li>
  </ul>
</div>


  <header class="banner">

      <!--Logo-->
  <div class="logo">
    <a routerLink=""><img src="assets/ZRA Website 2022-09.png"></a>
  </div>

 </header>




  <!------------Main section---------->
 


<!-----------Section 1------------->

<div class="header">
<!--Title-->
   <div class="viewport-header">
    <h1>
      CAREERS AT
      <br/>
      ZRA
    </h1>
  </div>
<!--Illustration-->
<div class="header-img" >
    <img src="assets/ZRA Website 2022-13.png" style="width: 80%;">
</div>
</div>

<main id="main">
    <div class="info">
        <h3>WHO WE ARE</h3>
<p>A multidisciplinary team with diverse skillsets and educational backgrounds <b>(including technical, political, legal, and social sciences).</b></p>
<br/>
<br/>

<h3>WHAT MAKES ZRA A GREAT PLACE TO WORK?</h3>
<!--Capability Cards start here-->
<div class="cards">

    <!--Card 1-->
   <div class="card">
   <h2>Exciting Clients</h2>
   <p>ZRA consults for major public and private entities that are on the front lines of emerging cybersecurity issues and questions</p>
   </div>
 

<!--Card 2-->
   <div class="card1">
    <h2>Conceptual Development</h2>
    <p>ZRA formulates visionary ideas for the future that shift the paradigm and set the course for future technology development.</p>
</div>


<!--Card 3-->
<div class="card2">
   <h2>Collaborative Environment</h2>
   <p>ZRA works actively and openly in focused teams to address objectives and realize goals.</p>
</div>


<!--Card 4-->
<div class="card3">
  <h2>High-Level Engagements</h2>
  <p>ZRA works with their clients on new and emerging issues to establish approaches that drive long-term strategy.</p>
  </div>


  <!--Card 5-->
<div class="card4">
    <h2>Challenging Projects</h2>
    <p>ZRA regularly develops solutions to address complex and challenging problems.</p>
 </div>
 
 
 <!--Card 6-->
 <div class="card5">
   <h2>Broad Exposure</h2>
   <p>ZRA’s diverse project portfolio ensures that employees are exposed to a wide range of issues and technologies</p>
   </div>
</div>

   <br/>

   <!------------Careers start here-------------->
   <h3>CAREERS</h3>
   <div class="careers">
    
    

    <!--Card 1-->
    <a (click)="show(1)" >
   <div class="cap">
   <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/cytonn-photography-n95VMLxqM2I-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
   <h2>Consultant</h2>
   <p>ZRA has extensive expertise covering data management and security directly with Chief Executive Officers (CEOs) from mid-to-large, market-cap ...</p>
   </div>
 </a>

 <!--MODAL-->
<div class="uc-modal" *ngIf="showModal === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Lee Zeichner</h4>
    </div>
    <div class="uc-m-body">
      <p>
        Lee M. Zeichner is the Founder and President of Zeichner Risk Analytics. Since his service as senior counsel to the President's Commission on Critical Infrastructure Protection from 1996-1998, he has led development of cybersecurity policy and operations for both leading public and private sector clients. Mr. Zeichner has published extensively on multiple aspects of cybersecurity law and is the author of Cyber Security & Corporate Liability, a guide for corporate counsel on cybersecurity and risk management, published by LexisNexis Publishing in 2001. Mr. Zeichner is authoring his sixth update of the book, scheduled for release in 2014.</p>

      <p>
        Mr. Zeichner currently consults on cybersecurity issues for the Department of Homeland Security, and has performed multiple risk assessments, including a review of the Executive Office of the President and other Federal Departments. Mr. Zeichner promotes cybersecurity as a member of the American Bar Association's Standing Committee on Law and National Security, where he has served since 1998.
      </p> 
        
        <p>
            Mr. Zeichner is a graduate of Georgetown University Law Center. He graduated from the University of Florida (Phi Beta Kappa) and received his M.A. in East Asian Studies from Stanford University. Mr. Zeichner is a member of multiple bar associations, including the Florida and DC Bars, the Court of International Trade, and the Court of Appeals for the Federal Circuit. Mr. Zeichner speaks Mandarin Chinese.

        </p>
    </div>
  </div>
</div>


<!--Card 2-->
<a (click)="show(2)" >
   <div class="cap1">
   <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/scott-graham-OQMZwNd3ThU-unsplash.jpg);background-repeat: no-repeat;
   background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
    <h2>Research Associate </h2>
    <p>ZRA provides exceptional program support for optimizing organizational performance as well as specialized support for developing ...</p>
</div>
</a>

 <!--MODAL-->
 <div class="uc-modal" *ngIf="showModal === 2">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Lee Zeichner</h4>
    </div>
    <div class="uc-m-body">
      <p>
        Lee M. Zeichner is the Founder and President of Zeichner Risk Analytics. Since his service as senior counsel to the President's Commission on Critical Infrastructure Protection from 1996-1998, he has led development of cybersecurity policy and operations for both leading public and private sector clients. Mr. Zeichner has published extensively on multiple aspects of cybersecurity law and is the author of Cyber Security & Corporate Liability, a guide for corporate counsel on cybersecurity and risk management, published by LexisNexis Publishing in 2001. Mr. Zeichner is authoring his sixth update of the book, scheduled for release in 2014.</p>

      <p>
        Mr. Zeichner currently consults on cybersecurity issues for the Department of Homeland Security, and has performed multiple risk assessments, including a review of the Executive Office of the President and other Federal Departments. Mr. Zeichner promotes cybersecurity as a member of the American Bar Association's Standing Committee on Law and National Security, where he has served since 1998.
      </p> 
        
        <p>
            Mr. Zeichner is a graduate of Georgetown University Law Center. He graduated from the University of Florida (Phi Beta Kappa) and received his M.A. in East Asian Studies from Stanford University. Mr. Zeichner is a member of multiple bar associations, including the Florida and DC Bars, the Court of International Trade, and the Court of Appeals for the Federal Circuit. Mr. Zeichner speaks Mandarin Chinese.

        </p>
    </div>
  </div>
</div>

<!--Card 3-->
<a (click)="show(3)" >
<div class="cap2">
   <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/jason-goodman-Oalh2MojUuk-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
   <h2>Communications</h2>
   <p>At our very core, ZRA is focused on developing effective and efficient risk management frameworks that provide executives and ...</p>
</div>
</a>

<!--MODAL-->
<div class="uc-modal" *ngIf="showModal === 3">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Lee Zeichner</h4>
    </div>
    <div class="uc-m-body">
      <p>
        Lee M. Zeichner is the Founder and President of Zeichner Risk Analytics. Since his service as senior counsel to the President's Commission on Critical Infrastructure Protection from 1996-1998, he has led development of cybersecurity policy and operations for both leading public and private sector clients. Mr. Zeichner has published extensively on multiple aspects of cybersecurity law and is the author of Cyber Security & Corporate Liability, a guide for corporate counsel on cybersecurity and risk management, published by LexisNexis Publishing in 2001. Mr. Zeichner is authoring his sixth update of the book, scheduled for release in 2014.</p>

      <p>
        Mr. Zeichner currently consults on cybersecurity issues for the Department of Homeland Security, and has performed multiple risk assessments, including a review of the Executive Office of the President and other Federal Departments. Mr. Zeichner promotes cybersecurity as a member of the American Bar Association's Standing Committee on Law and National Security, where he has served since 1998.
      </p> 
        
        <p>
            Mr. Zeichner is a graduate of Georgetown University Law Center. He graduated from the University of Florida (Phi Beta Kappa) and received his M.A. in East Asian Studies from Stanford University. Mr. Zeichner is a member of multiple bar associations, including the Florida and DC Bars, the Court of International Trade, and the Court of Appeals for the Federal Circuit. Mr. Zeichner speaks Mandarin Chinese.

        </p>
    </div>
  </div>
</div>

<!--Card 4-->
<a (click)="show(4)" >
<div class="cap3">
 <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/annie-spratt-QckxruozjRg-unsplash.jpg);
 background-repeat: no-repeat;
 background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
  <h2>Internships</h2>
  <p>ZRA offers an interdisciplinary approach to teaching and learning about cybersecurity. ZRA education materials provide a highly ...</p>
  </div>
 </a>

 <!--MODAL-->
 <div class="uc-modal" *ngIf="showModal === 4">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Lee Zeichner</h4>
    </div>
    <div class="uc-m-body">
      <p>
        Lee M. Zeichner is the Founder and President of Zeichner Risk Analytics. Since his service as senior counsel to the President's Commission on Critical Infrastructure Protection from 1996-1998, he has led development of cybersecurity policy and operations for both leading public and private sector clients. Mr. Zeichner has published extensively on multiple aspects of cybersecurity law and is the author of Cyber Security & Corporate Liability, a guide for corporate counsel on cybersecurity and risk management, published by LexisNexis Publishing in 2001. Mr. Zeichner is authoring his sixth update of the book, scheduled for release in 2014.</p>

      <p>
        Mr. Zeichner currently consults on cybersecurity issues for the Department of Homeland Security, and has performed multiple risk assessments, including a review of the Executive Office of the President and other Federal Departments. Mr. Zeichner promotes cybersecurity as a member of the American Bar Association's Standing Committee on Law and National Security, where he has served since 1998.
      </p> 
        
        <p>
            Mr. Zeichner is a graduate of Georgetown University Law Center. He graduated from the University of Florida (Phi Beta Kappa) and received his M.A. in East Asian Studies from Stanford University. Mr. Zeichner is a member of multiple bar associations, including the Florida and DC Bars, the Court of International Trade, and the Court of Appeals for the Federal Circuit. Mr. Zeichner speaks Mandarin Chinese.

        </p>
    </div>
  </div>
</div>

 </div>

 


</div>
</main>


<!--Footer-->
 <footer>
   <div class="social-media">
    <p>Follow Us |  
      <img src="assets/ZRA Website 2022-16.png">
      <img src="assets/ZRA Website 2022-15.png">
    </p>
   

   </div>
   
  <p><a href="contact/contact.component.html">Contact </a>    |      <a href="careers/careers.component.html">Careers</a>      |      <a href="about/about.component.html">About</a>     <br>
  <a>© Copyright 2021 ZRA, All Rights Reserved</a></p>
</footer>

<!----------------------------Script---------------------------->


</body>
</html>
