<!--
 * * Title: about.component.html
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
-->

<html lang="en">

<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/scss" href="./careers.component.scss">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
  <title>ZRA</title>
</head>
<!------------------------Body Starts Here!------------------------->
<body>

  <!--Sidenav-->
  <div class="sidenav">

  
  <ul class="nav">

    <li><a routerLink="/about" data-hover="ABOUT">ABOUT</a></li>
    <li><a routerLink="/team" data-hover="TEAM">TEAM</a></li>
    <li><a routerLink="/contact" data-hover="CONTACT">CONTACT</a></li>
    <li><a routerLink="/contract" data-hover="CONTRACTS">CONTRACTS</a></li>
    <li><a routerLink="/careers" data-hover="CAREERS">CAREERS</a></li>
  </ul>
</div>


  <header class="banner">

      <!--Logo-->
  <div class="logo">
    <a routerLink=""><img src="assets/ZRA Website 2022-09.png"></a>
  </div>

 </header>




  <!------------Main section---------->
 


<!-----------Section 1------------->

<div class="header">
<!--Title-->
   <div class="viewport-header">
    <h1>
      CAREERS AT
      <br/>
      ZRA
    </h1>
  </div>
<!--Illustration-->
<div class="header-img" >
    <img src="assets/ZRA Website 2022-13.png" style="width: 80%;">
</div>
</div>

<main id="main">
    <div class="info">
        <h3>WHO WE ARE</h3>
<p>A multidisciplinary team with diverse skillsets and educational backgrounds <b>(including technical, political, legal, and social sciences).</b></p>
<br/>
<br/>

<h3>WHAT MAKES ZRA A GREAT PLACE TO WORK?</h3>
<!--Capability Cards start here-->
<div class="cards">

    <!--Card 1-->
   <div class="card">
   <h2>Exciting Clients</h2>
   <p>ZRA consults for major public and private entities that are on the front lines of emerging cybersecurity issues and questions</p>
   </div>
 

<!--Card 2-->
   <div class="card1">
    <h2>Conceptual Development</h2>
    <p>ZRA formulates visionary ideas for the future that shift the paradigm and set the course for future technology development.</p>
</div>


<!--Card 3-->
<div class="card2">
   <h2>Collaborative Environment</h2>
   <p>ZRA works actively and openly in focused teams to address objectives and realize goals.</p>
</div>


<!--Card 4-->
<div class="card3">
  <h2>High-Level Engagements</h2>
  <p>ZRA works with their clients on new and emerging issues to establish approaches that drive long-term strategy.</p>
  </div>


  <!--Card 5-->
<div class="card4">
    <h2>Challenging Projects</h2>
    <p>ZRA regularly develops solutions to address complex and challenging problems.</p>
 </div>
 
 
 <!--Card 6-->
 <div class="card5">
   <h2>Broad Exposure</h2>
   <p>ZRA’s diverse project portfolio ensures that employees are exposed to a wide range of issues and technologies</p>
   </div>
</div>

   <br/>

   <!------------Careers start here-------------->
   <h3>CAREERS</h3>
   <div class="careers">
    
    

    <!--Card 1-->
    <a (click)="show(1)" >
   <div class="cap">
   <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/cytonn-photography-n95VMLxqM2I-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
   <h2>Consultant</h2>
   <p>ZRA offer employees the opportunity to supplement their existing team members with an outside perspective. Consultants can help organizations streamline operations, ...</p>
   </div>
 </a>

 <!--MODAL-->
<div class="uc-modal" *ngIf="showModal === 1">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Consultant</h4>
    </div>
    <div class="uc-m-body">
      <p>
        ZRA offer employees the opportunity to supplement their existing team members with an outside perspective. Consultants can help organizations streamline operations,increase productivity, build revenue, and make overall functions more efficient across the organization.</p>

      <p>
        A primary reason companies hire consultants is that they may possess in-depth knowledge of a specific industry or issue that the organization has in-house. A seasoned consultant can often devote time and expertise to a project that staff employees just don’t have.
      </p> 
        
        <p>
          Consultants can also help bring new life to organizations that are stuck, or shift resources to help companies grow or move in a different direction.
        </p>
    </div>
  </div>
</div>


<!--Card 2-->
<a (click)="show(2)" >
   <div class="cap1">
   <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/scott-graham-OQMZwNd3ThU-unsplash.jpg);background-repeat: no-repeat;
   background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
    <h2>Research Associate </h2>
    <p>Working at ZRA as research associate means gathering data from primary and secondary sources; organize and analyze this material, and draft outlines for their superiors. ...</p>
</div>
</a>

 <!--MODAL-->
 <div class="uc-modal" *ngIf="showModal === 2">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Research Associate</h4>
    </div>
    <div class="uc-m-body">
      <p>
        A research associate is responsible for assisting the research team, organizing and interpreting findings, and verifying information before presenting the study to the board. Research associates duties also include gathering and comparing data from multiple sources, analyzing the current industry trends, creating draft outlines for reports, collecting individual contacts for interview purposes, and helping with the development of research procedures. A research associate must have excellent time-management skills and ability to multi-task, especially on meeting strict deadlines and conducting studies.</p>

      <p>
        A research associate's responsibilities can vary depending on the size and needs of the organization. The end purpose of the job, however, is to provide helpful information to the decision-makers. Working at ZRA as research associate means gathering data from primary and secondary sources; organize and analyze this material, and draft outlines for their superiors.
      </p> 
        
    </div>
  </div>
</div>

<!--Card 3-->
<a (click)="show(3)" >
<div class="cap2">
   <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/jason-goodman-Oalh2MojUuk-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
   <h2>Communications</h2>
   <p>A communications associate is responsible for assisting with writing and communication projects and tasks within an organization....</p>
</div>
</a>

<!--MODAL-->
<div class="uc-modal" *ngIf="showModal === 3">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Communications</h4>
    </div>
    <div class="uc-m-body">
      <p>
        A communications associate is responsible for assisting with writing and communication projects and tasks within an organization. They are responsible for planning and implementing communication strategies, overseeing the company's media promotion, and editing and proofreading communication materials and texts.</p>
    </div>
  </div>
</div>

<!--Card 4-->
<a (click)="show(4)" >
<div class="cap3">
 <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/annie-spratt-QckxruozjRg-unsplash.jpg);
 background-repeat: no-repeat;
 background-size: cover;"><img src="assets/ZRA Website 2022-21.png"></div>
  <h2>Internships</h2>
  <p>As a ZRA intern, it’s your job to assist your employer with a multitude of tasks ...</p>
  </div>
 </a>

 <!--MODAL-->
 <div class="uc-modal" *ngIf="showModal === 4">
  <div class="uc-m-content">
    <div class="uc-m-header">
      <span class="material-icons" (click)="close()">
        close
      </span>
      <h4>Internships</h4>
    </div>
    <div class="uc-m-body">
      <p>
        As a ZRA intern, it’s your job to assist your employer with a multitude of tasks. Your duties include conducting research, compiling data, implementing ideas, and helping write papers. You often work closely with other students and interns. </p>

      <p>
        The main qualifications are an interest in the research subject and strong communication skills. You usually need to be enrolled in a relevant degree program at the school to qualify. The short-term goal of a research intern position is to gain academic credit or work experience. The long-term goal is to turn the internship into a career.
      </p> 
        
    </div>
  </div>
</div>

 </div>

 


</div>
</main>


<!--Footer-->
 <footer>
   <div class="social-media">
    <p>Follow Us |  
      <img src="assets/ZRA Website 2022-16.png">
      <img src="assets/ZRA Website 2022-15.png">
    </p>
   

   </div>
   
  <p><a href="contact/contact.component.html">Contact </a>    |      <a href="careers/careers.component.html">Careers</a>      |      <a href="about/about.component.html">About</a>     <br>
  <a>© Copyright 2021 ZRA, All Rights Reserved</a></p>
</footer>

<!----------------------------Script---------------------------->


</body>
</html>
