/**
 * * Title: about.component.css
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
 */

  
 h1 {
    color: #ffffff ;
    text-transform: uppercase;
    letter-spacing: .5vw;
    line-height: 1.4;
    text-align: center;
    font-weight: 300;
    span {
      display: block;
      font-size: 4vw;
      letter-spacing:1rem;
      top: 1;
    }
  }
  
  h3 {
    color: #114999 ;
    text-transform: uppercase;
    letter-spacing: .1vw;
    line-height: 1.4;
    text-align: center;
    font-weight: 300;
    font-size: 3vh;
  }
  
  h2{
    font-size: 20px 2vw;
    font-weight: 300;
    text-align: left;
    color: rgb(255, 255, 255);

  }

  
  
  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
  }
  
  a {
    text-decoration: none;
    
  }
  
  b{
      color: #114999;
  }


  /*Main*/
 
  section{
    min-width:70px;
    max-width: 75%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 50px;
   
  }
 
b{
    color: #114999;
}


/*WHAT MAKES ZRA A GREAT PLACE TO WORK?*/
@media (max-width: 50%) {
  .cards{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .card {
    max-width: 400px;
     grid-column: span 2;
     grid-row: span 2;
    padding: 40px;
    background-color:#ffffff;
  p{
    line-height: 2rem;
  }
  }
  .card1 {
    max-width: 300px;
    grid-column: span 2;
  }
}
  

.card  , .card1  {
  min-width: 300px;
  padding: 20px;
  height: 100%;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  
}

  
.card h2, .card1 h2{
      font-size:20px;
      color:#2356a8;
      text-align: center;
      line-height: 1em;
      }
      
.card  p, .card1  p{
      font-size: 19px, 2vw;  
      text-align: center;
      line-height: 1.5em;
      color: rgb(100, 100, 100);
      padding: 10px;
      }
  
  
  
.contract{
       display: inline-block;
      b{
        line-height: 2em;
      }
     }
.contract a{
    margin: 40px;
  }

.info{
  max-width: 65%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}




  
  
