<!--
 * * Title: about.component.html
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
-->

<html lang="en">

<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/scss" href="./contract.component.scss">
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
  <title>ZRA</title>
</head>
<!------------------------Body Starts Here!------------------------->
<body>

  <!--Sidenav-->
  <input type="checkbox" name="" id="side-menu-switch">
<div class="side-menu">
    <nav>
      <ul class="nav">

        <li><a routerLink="/about" data-hover="ABOUT">ABOUT</a></li>
        <li><a routerLink="/team" data-hover="TEAM">TEAM</a></li>
        <li><a routerLink="/contact" data-hover="CONTACT">CONTACT</a></li>
        <li><a routerLink="/contract" data-hover="CONTRACTS">CONTRACTS</a></li>
        <li><a routerLink="/careers" data-hover="CAREERS">CAREERS</a></li>
      </ul>
    </nav>
    <label for="side-menu-switch">
      <div class="centerd">
        <div></div>
      </div>
    </label>
</div>


  <header class="banner">

      <!--Logo-->
  <div class="logo">
    <a routerLink=""><img src="assets/ZRA Website 2022-09.png"></a>
  </div>

 </header>




  <!------------Main section---------->
 


<!-----------Section 1------------->

<div class="header">
<!--Title-->
   <div class="viewport-header">
    <h1>
      OUR
      <br/>
      CONTRACTS
    </h1>
  </div>
<!--Illustration-->
<div class="header-img" >
    <img src="assets/ZRA Website 2022-12.png" style="width: 80%;">
</div>
</div>

<main id="main">
  <section>
<h3>ZRA's Contract Vehicles</h3>
<p>ZRA actively manages our contract and contract vehicle portfolio to provide our customers with easy access to our capabilities. We work aggressively to participate in contract vehicles such as indefinite delivery and quantity (IDIQ) and blanket purchase agreements to provide ultimate flexibility for contracting officials. ZRA is also an experienced prime contractor and has teamed with numerous other small and large businesses to identify and win contracts and IDIQ across the Federal Civilian Government and the Department of Defense.</p>
<br>

   <div class="contract">
    <b>GSA Professional Services Schedule (PSS) Contract Number: 47QRAA19D003F</b>
    <!--Button-->
    <a  class="btn3 btn-3" href="assets/GSA PSS.pdf" target="_blank"> <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>Download</a>
   </div>
        <br/>
<p>LegalNet Works Incorporated dba Zeichner Risk Analytics (ZRA) views our consulting services as the backbone our PSS engagements. Our team provides expert advice, guidance, and counsel to improve the performance, quality, timeliness and efficiency of services provided by its government clients. Our consulting services are enhanced by our firsthand knowledge of and experience with commercial and government best practices, broad subject-matter expertise, and a deep understanding of the federal government.</p>
<br/>
<br/>


<div class="info">
<!--Capability Cards start here-->
<div class="cards">
    <!--Card 1-->
   <div class="card">
   <h2> The ZRA team provides comprehensive consulting services that include the following: </h2>
  <ul>Management and Strategy Consulting</ul>
  <ul>Program Planning, Audits, and Evaluations</ul>
  <ul>Studies, Analyses/Assessments, Scenarios, and Reports, such as</ul>
 <ol>Defense studies</ol>
 <ol>Tabletop exercises or scenario simulations</ol>
 <ol>Educational studies</ol>
 <ol>Regulatory or Policy Assessments</ol>
 <ol>Organizational Assessments</ol>
 <ol>Executive/Management Coaching Services</ol>
 <ol>Customized Business Training</ol>
 <ol>Policy and Regulation Development</ol>
 <ol>Business Process Reengineering</ol>
 <ol>Cost/Benefit Analysis</ol>
 <ol>Performance Measurement</ol>
 <ol>Strategic Planning</ol>
 <ol>Survey Design & Implementation</ol>
 <ol>Customer Analysis</ol>
 <ol>Risk and Vulnerability Assessments</ol>
   </div>
 

<!--Card 2-->
   <div class="card1">
    <h2>ZRA's PSS Special Item Numbers (SINs)</h2>
    <ul>541611 – Administrative Management and General Management Consulting Services</ul>
    <ul>OLM: Order-Level Materials</ul>
   <ul>874-1 Integrated Consulting Services</ul>
   <ul>874-4 Training Services: Instructor Led Training, Web Based Training and Education Courses, Course Development and Test Administration, Learning Management, Internships</ul>
   <ul>874-6 Acquisition Management Support</ul>
   <ul>874-7 Integrated Business Program Support Services</ul>
</div>




   <br/>

  </div>
  </div>



</section>

<!--Footer-->
       
<footer>
  <div class="social-media">
   <p>Follow Us |  
     <a href="https://www.linkedin.com/company/zra-llc" target="blank_"><img src="assets/ZRA Website 2022-16.png" class="linkedin-logo"></a>
     

     <a href="https://twitter.com/zeichnerrisk?lang=en" target="blank_">
     <img src="assets/ZRA Website 2022-15.png" class="twitter-logo">
    </a>
    
   </p>
  

  </div>
  
 <p><a routerLink="/contact">Contact </a>    |      <a routerLink="/careers">Careers</a>      |      <a  routerLink="/about">About</a>     <br>
 <a style="color:rgb(114, 115, 117)">© Copyright 2021 ZRA, All Rights Reserved</a></p>
</footer>

</main>
<!----------------------------Script---------------------------->


</body>
</html>

