<!--
 * * Title: team.component.html
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/scss" href="./team.component.scss" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 

  
  <title>ZRA</title>
</head>
<!------------------------Body Starts Here!------------------------->
<body>

  <!--Sidenav-->
  <div class="sidenav">

  
  <ul class="nav">

    <li><a routerLink="/about" data-hover="ABOUT">ABOUT</a></li>
    <li><a routerLink="/team" data-hover="TEAM">TEAM</a></li>
    <li><a routerLink="/contact" data-hover="CONTACT">CONTACT</a></li>
    <li><a routerLink="/contract" data-hover="CONTRACTS">CONTRACTS</a></li>
    <li><a routerLink="/careers" data-hover="CAREERS">CAREERS</a></li>
  </ul>
</div>


  <header class="banner">

      <!--Logo-->
  <div class="logo">
    <a routerLink=""><img src="assets/ZRA Website 2022-09.png"></a>
  </div>

 </header>




  <!------------Main section---------->
 


<!-----------Section 1------------->

<div class="header">
<!--Title-->
   <div class="viewport-header">
    <h1>
      TEAM
     <br/>
     MEMBERS
    </h1>
  </div>
<!--Illustration-->
<div class="header-img" >
    <img src="assets/ZRA Website 2022-11.png" style="width: 80%;">
</div>
</div>

<main id="main">
<!--Team grid-->
<div class="team-grid">

<!--Lee Zeichner-->
    <div style=" background-color: #114999;" id="name" ><h2 id="team1">Lee Zeichner<span style="font-weight: 100;">President</span></h2><img src="assets/linkedin logo white.png" href="#"></div>

    <div style="background-image: url('assets/ZRA_profile picture_Lee-11.png');"></div>

    <div style="overflow-y: scroll; background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,0.24736842105263157) 0%, rgba(0,0,0,0) 8%); ">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quod repudiandae fugit magnam consectetur...</p>

    
        <a href="#team1" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
          Read More
          </a>
    
    </div>


    <!--Lindsay Gold-->
    <div style="overflow-y: scroll; background: rgb(0,0,0); background: linear-gradient(-90deg, rgba(0,0,0,0.24736842105263157) 0%, rgba(0,0,0,0) 8%);">
        <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quod repudiandae fugit magnam consectetur...
        </p>
        
        <a href="#lindsay" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
          Read More
          </a>
    </div>

    <div style="background-image: url('assets/ZRA_profile picture_Lindsay-22.png');"></div>

    <div style=" background-color: #114999;" id="name" ><h2>Lindsay Gold<span style="font-weight: 100;">Executive Vice President</span></h2><img src="assets/linkedin logo white.png" href="#"></div>
    

    <!--Joe-->
    <div style=" background-color: #114999;" id="name" ><h2>Joe Chen<span style="font-weight: 100;">Executive Vice President</span></h2><img src="assets/linkedin logo white.png" href="#"></div>

    <div style="background-image: url('assets/ZRAphoto_Joe.jpg');"></div>
    
    <div style="overflow-y: scroll; background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,0.24736842105263157) 0%, rgba(0,0,0,0) 8%);">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quod repudiandae fugit magnam consectetur...
        </p>
     
        <a href="#joe" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
          Read More
          </a>
    </div>


      <!--Rory-->
      <div style="overflow-y: scroll; background: rgb(0,0,0); background: linear-gradient(-90deg, rgba(0,0,0,0.24736842105263157) 0%, rgba(0,0,0,0) 8%);">
        <p >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quod repudiandae fugit magnam consectetur...
        </p>
        
        <a href="#rory" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
          Read More
          </a>
    </div>

    <div style="background-image: url('assets/RORY_ZRAphoto.jpg');"></div>

    <div style=" background-color: #114999;" id="name" ><h2>Rory Mcguire<span style="font-weight: 100;">Senior Associate</span></h2><img src="assets/linkedin logo white.png" href="#"></div>
    

    <!--Jason-->
    <div style=" background-color: #114999;" id="name" ><h2>Jason Burke<span style="font-weight: 100;">Senior Associate</span></h2><img src="assets/linkedin logo white.png" href="#"></div>

    <div style="background-image: url('assets/Screen Shot 2021-12-20 at 3.55.53 PM.png');"></div>
    
    <div style="overflow-y: scroll; background: rgb(0,0,0); background: linear-gradient(90deg, rgba(0,0,0,0.24736842105263157) 0%, rgba(0,0,0,0) 8%);">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos quod repudiandae fugit magnam consectetur...
        </p>
     
        <a href="#jason" class="btn btn-1">
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
          Read More
          </a>
    </div>


    
  
</div>
 
 





 <!--Team Member Information-->

 <!--Lee Zeichner-->

 <div id="team1" class="overlay-1">
	<div class="popup-1">
		<h2>Lee Zeichner</h2>
		<a class="closed" href="#name">&times;</a>
		<div class="content">
			<p>
                Lee M. Zeichner is the Founder and President of Zeichner Risk Analytics. Since his service as senior counsel to the President's Commission on Critical Infrastructure Protection from 1996-1998, he has led development of cybersecurity policy and operations for both leading public and private sector clients. Mr. Zeichner has published extensively on multiple aspects of cybersecurity law and is the author of Cyber Security & Corporate Liability, a guide for corporate counsel on cybersecurity and risk management, published by LexisNexis Publishing in 2001. Mr. Zeichner is authoring his sixth update of the book, scheduled for release in 2014.</p>

              <p>
                Mr. Zeichner currently consults on cybersecurity issues for the Department of Homeland Security, and has performed multiple risk assessments, including a review of the Executive Office of the President and other Federal Departments. Mr. Zeichner promotes cybersecurity as a member of the American Bar Association's Standing Committee on Law and National Security, where he has served since 1998.
              </p> 
                
                <p>
                    Mr. Zeichner is a graduate of Georgetown University Law Center. He graduated from the University of Florida (Phi Beta Kappa) and received his M.A. in East Asian Studies from Stanford University. Mr. Zeichner is a member of multiple bar associations, including the Florida and DC Bars, the Court of International Trade, and the Court of Appeals for the Federal Circuit. Mr. Zeichner speaks Mandarin Chinese.

                </p>
    
		</div>
	</div>
</div>


</main>


<!--Footer-->
 <footer>
   <div class="social-media">
    <p>Follow Us |  
      <img src="assets/ZRA Website 2022-16.png">
      <img src="assets/ZRA Website 2022-15.png">
    </p>
   

   </div>
   
  <p><a href="contact/contact.component.html">Contact </a>    |      <a href="careers/careers.component.html">Careers</a>      |      <a href="about/about.component.html">About</a>     <br>
  <a>© Copyright 2021 ZRA, All Rights Reserved</a></p>
</footer>

<!----------------------------Script---------------------------->


</body>
</html>




