/**
 * * Title: home.component.css
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
 */
 
 @mixin coverer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
  }

  
    /* video background */
    .video-header {
      
      position: absolute;
      text-align: center;
      width: 100vw;
      height: 100vh;
      &, video, .viewport-header{
        @include coverer;
      }
      video {
        background-color: #114ea3;
        object-fit: cover;
      }
    }
    
     video, .viewport-header1 {
      @include coverer;
      height: 100%;
    }
    
    .viewport-header1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  h4{
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    font-size:  5vw;
    text-align: center;
    font-weight: 300;
    letter-spacing:.6rem;
  }
  
    h1 {
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      font-size: calc(20px + 0.5vw);
      text-align: center;
      font-weight: 400;
      letter-spacing:.1rem;
      span {
        display: inline-block;
        font-size: calc(10px + 0.5vw);
        top: 1;
        letter-spacing:0.3em;
        margin: 15px;
        line-height: 1.4em;
        font-weight: 300;
      }
    }
    
    h3 {
      color: rgb(80, 80, 80);
      font-weight: 300;
      text-align: left;
      font-size: 35px ; 
      text-transform: uppercase;
      text-align: center;
    }
    
    h2{
      font-size: 40px;
      font-weight: 300;
      text-align: left;
      color: rgb(82, 82, 82);
    }
    
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.5em;
    }
    
    a {
      text-decoration: none;
    }
    
     /* Main section below header */
    
     main {
      background: white;
      position: absolute;
      z-index: 3;
      margin-top: 100vh ;
      width: 100vw;
      
    }
    
   
    /* Slider text */
    .header-content{
     text-align: center;
     color: white;
  
    }
    
    .header-content h4{
    font-size:30px;
    font-weight: 300;
    }
    
    .card1{
      background: rgb(255, 255, 255);
      height: 0px;
      visibility: hidden;
     }
    
     .card2{
      background: rgb(255, 255, 255);
      height: 0px;
      visibility: hidden;
     }
    
     .card3{
      color: white;
      height: 300px;
     }
    
     .card3 p{
      font-size: 15px;
      line-height: 1.5em;
     }
  
    
     .card3 h4{
       font-weight: 300;
       color: white;
       font-size: 40px;
     }
    
    
      .card4{
          color: white;
          height: 300px;
           p{
            font-size: 20px;
            line-height: 1.5em;
          }
          h4{
            font-size: 25px;
            font-weight: 300;
          }
       }
    
      
    
    
       .card5{
        color: white;
        background: rgb(210, 212, 221);
        height: 300px;
        padding: 20px;
        p{
          font-size: 15px;
          line-height: 1.5em;
        }
        h4{
          font-size: 25px;
          font-weight: 300;
        }
     }
       
    
    
       .item2{
          color: white;
          padding-left: 20px;
          padding-right: 20px;
          h4{
            font-size: 25px;
            font-weight: 300;
          }
            p{
              font-size: 15px;
              line-height: 1.5em;
            }
      }
    
     
    
    .cards {
      margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    a{
margin-bottom:1.5em
    }
    }


    
    .card-1 {
      color: white;
      padding: 1rem;
      height: 17rem;
      width: 17rem;
      margin: 0px;
      background-color: rgb(0, 0, 0);  
    }
    
    .card-1 img {
      position: relative;
      padding-top: 75px;
      width: 80px ;
      display: block;
      margin: auto; }
    
    
      .cap h2, .cap1 h2, .cap2 h2, .cap3 h2, .cap4 h2, .cap5 h2, .cap6 h2, .cap7 h2, .cap8 h2, .cap9 h2, .cap10 h2, .cap11 h2{
        font-size:20px;
        color:#2356a8;
        text-align: center;
        line-height: 1em;
        }
        
         .cap p, .cap1 p, .cap2 p, .cap3 p, .cap4 p, .cap5 p, .cap6 p, .cap7 p, .cap8 p, .cap9 p, .cap10 p, .cap11 p {
        font-size: 16px;  
        text-align: center;
        line-height: 1.3em;
        color: rgb(100, 100, 100);
        padding: 10px;
        }
    
        .cap, .cap1, .cap2, .cap3, .cap4, .cap5, .cap6, .cap7, .cap8, .cap9, .cap10, .cap11{
          position: relative;
          height:470px;
          overflow-y: none;
          width: 303px;
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    
    
        .cap::after, .cap1::after, .cap2::after, .cap3::after, .cap4::after, .cap5::after, .cap6::after, .cap7::after, .cap8::after, .cap9::after, .cap10::after, .cap11::after{
          width: 300px;
          position: absolute;
          opacity: 0;
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
          transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    
    
    
        .cap:hover, .cap1:hover, .cap2:hover, .cap3:hover, .cap4:hover, .cap5:hover, .cap6:hover, .cap7:hover, .cap8:hover, .cap9:hover, .cap10:hover, .cap11:hover {
          -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
        }
        
        .cap:hover::after, .cap1:hover::after, .cap2:hover::after, .cap3:hover::after, .cap4:hover::after, .cap5:hover::after, .cap6:hover::after, .cap7:hover::after, .cap8:hover::after, .cap9:hover::after, .cap10:hover::after, .cap11:hover::after {
            opacity: 1;
        }
        
    
    
        .card7{ 
          color: white;
          height: 300px;
        }
    
        .card8{
          background: rgb(210, 212, 221);
          height: 300px;
        }
    
        .card11{
           color: white;
           height: 600px;
           h2{
            text-align: left;
            font-weight: 300;
            height: 400px;
            color: white;
               } 
          }
    
      
    .card12{
      height: 600px;
      overflow-x: scroll;
    }
    
 
   

  

   