<!--
 * * Title: app.component.html
 * Author: Larry Ohaka
 * Date: 6/25/21
 * Description: Navigation and Layout
-->

<html lang="en">

<head>
  <meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/scss" href="./home.component.scss">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
  <title>ZRA</title>
</head>
<!------------------------Body Starts Here!------------------------->
<body>

  

  <!--Sidenav-->
  <input type="checkbox" name="" id="side-menu-switch">
<div class="side-menu">
    <nav>
      <ul class="nav">

        <li><a routerLink="/about" data-hover="ABOUT">ABOUT</a></li>
        <li><a routerLink="/team" data-hover="TEAM">TEAM</a></li>
        <li><a routerLink="/contact" data-hover="CONTACT">CONTACT</a></li>
        <li><a routerLink="/contract" data-hover="CONTRACTS">CONTRACTS</a></li>
        <li><a routerLink="/careers" data-hover="CAREERS">CAREERS</a></li>
      </ul>
    </nav>
    <label for="side-menu-switch">
      <div class="centerd">
        <div></div>
      </div>
    </label>
</div>

   <!--Logo-->
   <div class="logo1">
    <a routerLink=""><img src="assets/ZRA Website 2022-10.png"></a>
  </div>




  <header class="video-header">
   <!--video-->
    <video id="video" src="assets/dotted sphere Comp 1_2.mp4" autoplay muted loop playsinline></video>
<!--Title-->
    <div class="viewport-header1">
      <h4 style="font-weight: 300;">
       ZEICHNER RISK ANALYTICS
      </h4>
    </div>
      <!--Slideshow-->
<div class="header-content"> 
  <h1 class="item-1">ZRA
  <span>is a leading provider of program management, risk managment, and security governance</span>
</h1>
<h1 class="item-2">We Specialize In
  <span>security and privacy assessments in accordance with Federal regulations as well as state statutes and administrative guidelines</span>
</h1>
<h1 class="item-3">We Help
  <span>evolve developments in operational risk management</span>
</h1>
</div>
  <!--Button-->
  <a href="#main" class="btn1 btn-2">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>Scroll Down</a>
 </header>
 


  <!-----------------------Main section--------------------------->
 <main id="main">
<!------------InfoBlock---------->
  <div class="sec-1">
<!--About-->
    <section class="info1" style="background-color:#114ea3;  background-image: url(assets/ZRAWebsite2023-23.png); background-repeat: no-repeat; background-size: cover;">
      <h3 style="color:white">About</h3>
      <p>ZRA is a small business with over 20 years of experience in cybersecurity, risk management, program management, strategic planning, and law and policy.
        
      </p>
      <!--Button-->
      <a routerLink="/about" class="btn btn-1">
        <svg>
          <rect x="0" y="0" fill="none" width="100%" height="100%"/>
        </svg>
      LEARN MORE
      </a>
    </section>


<!--Pilot Process-->
    <section class="figure1" style="padding: 20px; background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/nasa-Q1p7bh3SHj8-unsplash.jpg); background-repeat: no-repeat; background-size: cover; ">
      <br/>
      <br/>
      <h3>Pilot Process</h3>
      <p>At our very core, ZRA is focused on developing effective and efficient risk management frameworks that provide executives and program managers with the capability to eliminate, mitigate, transfer, or accept risk.</p>
      
      <!--Button-->
    <a href="#pilot-process" class="btn btn-1">
        <svg>
          <rect x="0" y="0" fill="none" width="100%" height="100%"/>
        </svg>
      LEARN MORE
      </a>
      <br/>
      <br/>
    </section>



<!--Teams-->
    <section class="team-vid">
      <video id="video1" autoplay muted loop playsinline style=" opacity: 0.14;">
        <source src="assets/pexels-mikael-blomkvist-6561844.mp4" type="video/mp4" />
    </video>
    <br/>
    <br/>
    <h3 style="color:white">VIEW OUR TEAM</h3>
   <!--Button-->
<a routerLink="/team" class="btn btn-1">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>
  LEARN MORE
  </a>
  <br/>
      <br/>
    </section>


<!--Mission Towards Inclusion-->
    <section class="figure3" style="background-color:#061c3b;   background-image: url(assets/Diversity-12.png); background-repeat: no-repeat; background-size: cover;">
      <br/>
     <h3 style="color:white">Mission Towards Diversity</h3>
         <!--Button-->
         <a href="#inclusion" class="btn btn-1">
          <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%"/>
          </svg>
        LEARN MORE
        </a>
    </section>

  </div>

 
  <!-----------Section 2------------->

  <section class="sec-2">

    <h3 style="color:#2356a8;" id="capabilities">CAPABILITIES</h3>
    <p>ZRA has significant experience and deep capability in building and managing large and complex programs. Our capabilities range from developing the foundational building blocks for a new program to managing a fully developed program office. Our comprehensive focus on governance, inter-/intra-agency processes, policy, political institutions, and engagement strategies provides a uniquely comprehensive offering for our customers.</p>
    <h3 style="color: #2356a8; font-size:20px ; font-weight: 400;">Our key capability areas include:</h3>


<!--Capability Cards start here-->
    <div class="cards">

       <!--Card 1-->
       <a href="#popup1">
      <div class="cap">
      <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/george-prentzas-SRFG7iwktDk-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;"><img src="assets/ZRA Website 2022-19.png" style="width: 60px;"></div>
      <h2>MISSION SUPPORT</h2>
      <p>ZRA specializes in delivering mission support services customized for the Cyber & Infrastructure Security Agency (CISA)...</p>
      </div>
    </a>

<!--Card 2-->
<a href="#popup2">
      <div class="cap1">
      <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/jefferson-santos-9SoCnyQmkzI-unsplash.jpg);background-repeat: no-repeat;
      background-size: cover;"><img src="assets/icon-itinerary2-100.png" style="width: 100px;"></div>
       <h2>FINANCE AND ACQUISITION SUPPORT SERVICES</h2>
       <p>ZRA provides leading-edge financial and acquisition support to help CISA secure consistent funding and maximize efficiency amidst...</p>
</div>
</a>

<!--Card 3-->
<a href="#popup3">
<div class="cap2">
      <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/maximalfocus-HakTxidk36I-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;"><img src="assets/icon-itinerary2-101.png" style="width: 60px;"></div>
      <h2>RISK MANAGEMENT</h2>
      <p>ZRA provides quality risk management support services for CISA...</p>
</div>
</a>

<!--Card 4-->
<a href="#popup4">
  <div class="cap3">
    <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/sigmund-Fa9b57hffnM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;"><img src="assets/icon-itinerary2-98.png" style="width: 110px;"></div>
     <h2>EDUCATION & TRAINING</h2>
     <p>ZRA provides cybersecurity education and training customized to CISA’s needs...</p>
     </div>
    </a>

     <!--Card 5-->
     <a href="#popup5">
      <div class="cap4">
      <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/austin-distel-744oGeqpxPQ-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;"><img src="assets/icon-itinerary2-97.png" style="width: 80px;"></div>
      <h2>SYSTEMS ENGINEERING SUPPORT</h2>
      <p>ZRA leverages broad expertise in systems engineering and deep understanding....</p>
      </div>
    </a>

<!--Card 6-->
<a href="#popup6">
      <div class="cap5">
      <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/adi-goldstein-EUsVwEOsblE-unsplash.jpg);background-repeat: no-repeat;
      background-size: cover;"><img src="assets/icon-itinerary2-99.png" style="width: 80px;"></div>
       <h2>SOLUTIONS DESIGN</h2>
       <p>ZRA works with CISA to design, implement, and promote network architectures...</p>
</div>
</a>

<!--Card 7-->
<a href="#popup7">
<div class="cap6">
      <div class="card-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(assets/luke-chesser-JKUTrJ4vK00-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;"><img src="assets/ZRA Website 2022-18.png" style="width: 80px;"></div>
      <h2>PERFORMANCE MANAGEMENT</h2>
      <p>ZRA is your partner in collecting, analyzing, and creating actionable plans for...</p>
</div>
</a>




    </div>
  </section>

<!-----------Pop-up Section------------->


<!--Cybersecurity Consulting for Executives-->
<div id="popup1" class="overlay">
	<div class="popup">
		<h2>MISSION SUPPORT</h2>
		<a class="close" href="#capabilities">&times;</a>
		<div class="content">
      
			<p>
        ZRA specializes in delivering mission support services customized for the Cyber & Infrastructure Security Agency (CISA). ZRA’s deeply experienced and credentialed practitioners focus on the unique issues that CISA confronts in developing new capabilities, services, and competencies. We maintain fluency in CISA needs through our experience within each of the major CISA executive offices, understanding of CISA programs, and cleared staff that have suitability as well as an appreciation for the complexity of CISA’s national mission. This specialization facilitates effective and cost-efficient mission support.</p>



<b>ZRA is Familiar with CISA Needs</b>
<p>ZRA has significant experience in building and managing complex programs with the Federal Government, and with CISA specifically. We have worked on projects across CISA, supporting CSD, NRMC, and SED. This gives us valuable insight into the agency’s strategic and operational needs. We can anticipate issues and mitigate them in advance, enabling mission resilience. We also have strong awareness of CISA’s operating environment, from stakeholder requirementsto emerging threat trends to changes in the policy/regulatory landscape. With our comprehensive focus on CISA- relevant governance, interagency processes, policy, political institutions and engagement strategies, we ensure projects run seamlessly</p>

<b>ZRA is Familiar with CISA Needs</b>
<p>ZRA’s credentialed practitioners are fluent in the language and landscape unique to CISA, which allows us to meet the Agency’s needs on a shorter learning curve and with greater effectiveness than generic consulting companies. Our experience integrating planning and execution activities adds accountability and efficiency throughout the project lifecycle to ensure mission objectives, cost, budget, and key stakeholder requirements align throughout the process. ZRA implements programs that have been tested and proven in the private sector ensuring all performance standards and service delivery goals are met or exceeded on a consistent basis.</p>

<b>ZRA is Familiar with CISA Needs</b>
<p>ZRA implements programs that have been tested and proven in the private sector ensuring all performance standards and service delivery goals are met or exceeded on a consistent basis. Our disciplined project management methodology preserves the rigor required to keep a mission on schedule and within budget, exceeding the expectations of project stakeholders. We leverage a full range of management, organization, and business improvement services using cutting edge best practices to ensure your mission is achieved with precision and cost effectiveness.</p>
    
		</div>
	</div>
</div>


<!--Cyber Security and IT Program Support-->
<div id="popup2" class="overlay">
	<div class="popup">
		<h2>FINANCE AND ACQUISITION SUPPORT SERVICES</h2>
		<a class="close" href="#capabilities">&times;</a>
		<div class="content">
			<p>
        ZRA provides leading-edge financial and acquisition support to help CISA secure consistent funding and maximize efficiency amidst expanding operational needs and tightening budgets. ZRA fully understands the strategic trends that are impacting CISA’s budget. We can formulate budget plans that meet current and future needs. We also have expertise in managing acquisitions to ensure compliance and efficiency. Our subject matter expertise includes business, law, technology, and policy, informing our finance and acquisition capabilities with a holistic view on business, strategy, and operations. </p>


        <b>ZRA Understands Budgeting and Policy Trends</b>
        <p>ZRA has extensive experience navigating the Federal Government’s budgeting process, which gives us unmatched understanding of the strategic trends impacting CISA’s funding. Our policy team constantly monitors legislative and regulatory developments to maintain full situational awareness of the environment to support long-term planning. ZRA also has knowledge of key stakeholders, both external and internal to CISA, such as executives, program managers, oversight agencies, and legislators. We use this policy analysis to inform customized planning processes to help CISA operationalize its long-term vision</p>
        
        <b>ZRA is Skilled at Budget Management</b>
        <p>ZRA has the technical and management skills to create budgets to meet decision-maker needs while achieving CISA’s mission. We are familiar with DHS’s approach to Planning, Programming, Budgeting and Execution. ZRA can assist with budget formulation and justification, cost estimation, allocations, and more. We can also help CISA manage its existing budget through our cutting-edge business management processes and tools. Our team can help with tracking funds, accounting, and developing metrics.</p>
        
        <b>ZRA is Proficient in DHS Acquisition Processes</b>
        <p>ZRA can also provide acquisition management services. Our team has proficient understanding of the Federal Acquisition Rules, the DHS Acquisition Lifecycle Framework, and the DHS Acquisition Review Process. We have experience conducting analysis of alternatives, drafting Statements of Work, and developing proposals. We can help plan and execute acquisitions in a way that ensures regulatory compliance, meets CISA’s operational needs, and anticipates future strategic needs</p>

    
		</div>
	</div>
</div>


<!--Risk Managment-->
<div id="popup3" class="overlay">
	<div class="popup">
		<h2>RISK MANAGEMENT</h2>
		<a class="close" href="#capabilities">&times;</a>
		<div class="content">
			<p>
        ZRA provides quality risk management support services for CISA. ZRA has expertise in assessing threat, vulnerability, and consequence to help CISA manage risks across the enterprise. Our experienced team can help design and implement risk management processes to advance CISA’s mission as the Nation’s risk advisor.
      </p>

      <b>ZRA Knows Threat</b>
        <p>ZRA can provide insight into the complex array of threats that CISA faces in its mission to protect the Nation’s critical infrastructure. ZRA has 20 years of experience working with government agencies, including law enforcement and the intelligence community, and we have cultivated a deep understanding of the most sophisticated adversaries. Our team constantly tracks the threat landscape to stay abreast of evolving tactics, techniques, and procedures and
          build adversary profiles. We can produce strategic and operational threat assessments to help CISA prioritize threats and inform mitigations.</p>
        
        <b>ZRA Knows Vulnerability</b>
        <p>ZRA has expertise in producing vulnerability assessments to help CISA manage risk to critical infrastructure. Our team has spent years developing a deep understanding of critical infrastructure, from the financial sector to the electrical grid, with a specialty in telecommunications and energy infrastructure. This expertise allows us to provide high-impact vulnerability assessments to give CISA a holistic, cross-sector view of the most pressing vulnerabilities. For example, we have worked with NRMC to develop methodologies to prioritize vulnerabilities to National Critical Functions. We also supported NRMC in identifying critical communications elements and determining criticality within the government’s supply chain.</p>
        
        <b>ZRA Knows Consequence</b>
        <p>ZRA provides consequence analysis so CISA can gauge the potential impact of threats and vulnerabilities. We have designed multiple frameworks to assess consequences, using rigorous qualitative and quantitative metrics. We routinely develop analytically useful models and scenarios to provide leadership with accurate, actionable vulnerability assessments. For example, our team supported NRMC in developing the SARA Consequence Assessment Risk Framework to assess impacts to telecommunications. We have also supported the Scalable Consequence Equivalency Representations for Cyber (SCERC) to develop approaches to compare and aggregate consequence measures.</p>

        <b>ZRA Can Provide an Integrated Risk
          Management Approach Combining
          TVC</b>
        <p>ZRA delivers fully integrated risk management solutions to tackle CISA’s most pressing problems. We have supported various NRMC projects, including the design of the comprehensive Risk Architecture, the Cyber Risk Framework, and an ICT assessment. Our proven track record and cutting-edge research make us an excellent partner to ensure agency mission performance.</p>

		</div>
	</div>
</div>


<!--Education and Training-->
  <div id="popup4" class="overlay">
    <div class="popup">
      <h2>EDUCATION AND TRAINING</h2>
      <a class="close" href="#capabilities">&times;</a>
      <div class="content">
        <p>ZRA provides cybersecurity education and training customized to CISA’s needs. Our proprietary IT/Cyber Content was researched and created in house by highly experienced engineers and practitioners. ZRA offers learning experiences in many formats, to adapt to the tight schedule of your organization. You can rely
          on our efficient process and highly qualified Subject Matter Experts to deliver a learning experience that is engaging and effective.</p>

          <b>ZRA Courses are Customized to CISA’s Needs</b>
          <p>ZRA educational material is geared to the unique needs of the Federal Government, especially CISA. ZRA’s textbook, Cybersecurity Foundations, and accompanying syllabus were customized for DHS and CISA. ZRAs subject matter experts continue to incorporate information on the newest threats and vulnerabilities into your curricula. Our highly customized curricula result in cutting edge content that puts your organization in a proactive rather than reactive mindset.</p>
          
          <b>ZRA Courses are Flexible Enough to Satisfy Different Educational Goals</b>
          <p>ZRA’s curriculum offers flexible material that can be adjusted to meet different objectives and skill levels. We provide training on best practices for non-cybersecurity professionals, but we also have deep coaching experience with leaders that need a more in-depth understanding of the issues. Regardless of skill-level, we ensure that your cybersecurity professionals are up to date with the latest research and technology. With ZRA you can be assured that at every level, your teams not only have knowledge, but more importantly the ability to integrate their learning into real world scenarios.</p>
          
          <b>ZRA Courses are Grounded in Cutting-Edge Research and
            Focus on Learning Outcomes</b>
          <p>ZRA has conducted detailed research and numerous studies to create immersive curricula that focus on outcome-based learning. Our delivery mechanisms include classroom training with case studies and group discussion, web-based training modules, videos, and interactive media for self-paced study. Our learning and development solutions build a network of accessible and user friendly, interactive experiences, resulting in higher employee engagement and better training outcomes for a stronger mission impact.</p>

      </div>
    </div>
  </div>


  <!--Cybersecurity Program Management-->
  <div id="popup5" class="overlay">
    <div class="popup">
      <h2>SYSTEMS ENGINEERING SUPPORT</h2>
      <a class="close" href="#capabilities">&times;</a>
      <div class="content">
        <p>ZRA leverages broad expertise in systems engineering and deep understanding of CISA’s programs and policies to provide tailored support to systems engineering capability development. Unlike other firms, ZRA has cultivated deep knowledge of CISA’s programs, mission, and systems engineering doctrine. We have developed adaptable management processes and tools to promote integration and synergy across the Enterprise. We help manage complex design projects and architectures from concept design to full operational capability.</p>


        <b>ZRA is Fluent in CISA Doctrine and Policy</b>
        <p>ZRA is fluent in CISA systems engineering doctrine, including the Systems Engineering Lifecycle, Planning, Programming, Budgeting and Execution, and Acquisition Management. This allows us to ensure that CISA projects are built for success, from the ground up, in alignment with DHS approach. ZRA has unique insights into CISA’s mission and programs, having supported numerous high-profile programs including NCPS, CDM, and TIC. We use these insights to ensure that
          projects align with the agency’s strategic trajectory, operational requirements, and stakeholder priorities</p>
        
        <b>ZRA Can Manage the Full Systems Engineering Lifecycle</b>
        <p>ZRA has developed cutting-edge processes and tools to help manage the systems engineering life cycle, from initial solution engineering to implementation, operations, and maintenance. From the outset, ZRA’s team of experts can help CISA establish detailed plans with clearly defined objectives, priorities, and resource requirements. We utilize sophisticated, proven methods to define assumptions and scope, identify requirements, and design work plans. Our team can assist with the production of Study Plan Reviews, Solution Engineering Reviews, Project Planning Reviews, and Design Reviews. ZRA can also assist with capability delivery. Leveraging our technical and strategic expertise, we ensure seamless integration and maximum impact.</p>
        
        <b>ZRA Delivers</b>
        <p>ZRA specializes in creating solutions for the Federal Government and specifically CISA. ZRA helps you conceive and manage complex design projects and architectures, from concept design to full operational capability. Other firms may focus on twenty or more industries, working with ZRA you can rest assured that we are laser focused on CISA and the unique requirements necessary for the success of your missions.</p>

      </div>
    </div>
  </div>


   <!--Cybersecurity Policy Support-->
   <div id="popup6" class="overlay">
    <div class="popup">
      <h2>SOLUTIONS DESIGN</h2>
      <a class="close" href="#capabilities">&times;</a>
      <div class="content">
        <p>ZRA works with CISA to design, implement, and promote network architectures. ZRA understands the current state and overall trajectory of Federal networks and the intrinsic need for constant realignment based on shifting threats. ZRA has deep understanding of technical requirements and best practices for implementing resilient network architectures. ZRA’s deep technical expertise and project management experience aids CISA in translating conceptual frameworks into workable designs that are implemented with precision and are designed to be easily upgraded as new threats arise.</p>


        <b>ZRA Understands Government Networks</b>
        <p>ZRA has significant experience working with Federal networks. Our team has supported Federal Network Resilience program initiatives like TIC and CDM. We understand the importance of security-by-design and can help CISA ensure that new architectures prioritize security without sacrificing usability. We ensure that CISA promotes architectures that are
          scalable and adaptable enough to withstand the test of time.</p>
        
        <b>ZRA Knows Technical Requirements and Best Practices</b>
        <p>ZRA stays abreast of technical requirements and best practices for implementing resilient network architectures. Our team is fluent in the language of enterprise architecture, with clear understanding of the issues and standards presented in publications such as NIST-800-53, NIST-691, and NIST-200, as well as CISA guidance and industry design standards. We provide technical and project management expertise
          on best practices for integrated, durable network designs that are scrupulously implemented and maintained.</p>
        
        <b>ZRA Can Manage Integrated Designs</b>
        <p>ZRA has developed robust solutions engineering management processes to ensure designs are technically sound, analytically useful, and conveyable to both engineers and management. Our team interfaces between technical and managerial components, producing report templates, outlines, visuals, and other high-quality deliverables. We manage and track multiple workstreams to facilitate seamless handoffs and integration.</p>
      </div>
    </div>
  </div>

    <!--Cybersecurity Policy Support-->
    <div id="popup7" class="overlay">
      <div class="popup">
        <h2>PERFORMANCE MANAGEMENT</h2>
        <a class="close" href="#capabilities">&times;</a>
        <div class="content">
          <p>ZRA is your partner in collecting, analyzing, and creating actionable plans for utilizing the vast amounts of information needed to manage and maintain your network’s performance. We design metrics to provide actionable insights into the performance of information technology, organizational processes, and the personnel responsible for utilizing the technology to ensure mission success. We understand that without the right information, accessed consistently and with exactitude, your organization will not thrive. Our goal is to put CISA in a proactive position because the right metrics are being analyzed and acted upon in real time.</p>

          <b>ZRA Manages IT</b>
        <p>ZRA develops customized solutions to manage your organization’s information technology. Our custom tools provide leadership with visibility into CISA’s IT performance. We design metrics that generate insights into cybersecurity policies, operational posture, and compliance with DHS requirements. We provide technology asset management, privacy and information-sharing compliance management, and network configuration management.</p>
        
        <b>ZRA Can Manage the Full Systems Engineering Lifecycle</b>
        <p>ZRA has created adaptable programs to help CISA assess its organizational processes. Our programs go beyond simply implementing standard process improvement activities, focusing instead on complete understanding of CISA’s mission, strategy, and customers. Our approach provides a mix of strategic and short-term recommendations for implementation.</p>
        
        <b>ZRA Manages People</b>
        <p>ZRA can also help manage CISA’s unique and dynamic workforce in alignment with DHS policy and requirements, particularly the directives on Cybersecurity Workforce Management Support and Employee Performance Management. To this end, we can help design, validate, and implement workforce evaluation tools to help improve policies.</p>
  
        </div>
      </div>
    </div>


       




  <!--Risk Managment-->
<div id="inclusion" class="overlay">
	<div class="popup">
		<h2>Mission Towards Diversity</h2>
		<a class="close" href="#main">&times;</a>
		<div class="content">

			<p>
        ZRA must embrace an inclusive, truly equitable workplace that fosters diverse perspectives if we want to accelerate innovation, strengthen resilience, and enable the firm’s purpose to unlock the potential of those who advance the world.</p>

       <p>ZRA’s inaugural diversity, equity, and inclusion (DEI) report is an effort to openly and transparently share a snapshot of the progress we’ve made—where we are at this point in the journey and where we’ve committed to go. Our leaders, staff, and business partners are energized to make a real and sustained difference in DEI at ZRA.</p> 
        
       <p> We recognize the corporate environment in which we play a critical role. Our diversity, equity, and inclusion report is a statement of our public commitment to transparency, an invitation for continued dialogue, and the standard by which we will be held accountable as our DEI journey continues.
      </p>
		</div>
	</div>
</div>

<!--Pilot Process-->
<div id="pilot-process" class="overlay">
	<div class="popup">
		<h2>Pilot Process</h2>
		<a class="close" href="#main">&times;</a>
		<div class="content">

      <div class="pilot-process-img" >
        <input type="checkbox" id="zoomCheck">
        <label for="zoomCheck">
          <img src="assets/pilot process graphic-04.png" style="width: 100%;">
        </label>
      </div>

      <p>At our very core, ZRA is focused on developing effective and efficient risk management frameworks that provide executives and program managers with the capability to eliminate, mitigate, transfer, or accept risk.</p>
      <p>ZRA has significant experience and deep capability in building and managing large and complex programs. To learn more</p>

		</div>
	</div>
</div>


  <br/>

<!-----------Section 3------------->
  	
    <!--News section-->
    <section>
      <h3>ZRA NEWS</h3>
          <div class="news-container">

            <!--Twitter-->
            <div class="twitter">
              <div class="twt-vid">
              <h3>ZRA Twitter</h3>
              <div class="twtr">
                  <a class="twitter-timeline" data-lang="en" data-width="70%" height="400px" data-theme="light" href="https://twitter.com/ZeichnerRisk?ref_src=twsrc%5Etfw" ></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              
                <video id="video" autoplay muted loop playsinline style=" opacity: 0.24;">
                    <source src="assets/production ID_4199353.mp4" type="video/mp4" />
                </video>
           </div>
            </div>

            <!--news-->
            <div class="news">
              <div class="news-content">

            <div class="slider">
<!--slide1-->
              <div class="slide" style="background: url(assets/news3.png);background-size: cover;
              background-position: center;"></div>
<!--slide2-->
             <div class="slide" style="background: url(assets/news2.png);background-size: cover;
             background-position: center;"></div>
<!--slide3-->
             <div class="slide" style="background: url(assets/news1.png);background-size: cover;
             background-position: center;"></div>
<!--slide4-->
             <div class="slide" style="background: url(assets/news4.png);background-size: cover;
             background-position: center;"></div>

            </div>
              </div>

            <div class="news-title">
              <div class="slider-title">

<!--News text 1-->
                <div class="slide-txt">
                  <a href="https://www.securitymagazine.com/articles/96781-top-15-cybersecurity-predictions-for-2022" target="_blank">
                  <div class="ct-blog-content">
                  <div class="ct-blog-date">
                    <span>December</span><strong>22</strong>
                  </div>
                  <h3 class="ct-blog-header">
                    Top 15 cybersecurity predictions for 2022
                  </h3>
                </div>
                <div class="preview">
                  <p>Over the past several years, cybersecurity risk management has become top of mind for boards. And rightly so. Given the onslaught of ransomware attacks and data breaches that organizations experienced in recent years, board members have increasingly realized how vulnerable they are. </p> 
                  </div>
              </a>
              </div>
            

<!--News text 2-->
                <div class="slide-txt">
                  <a href="https://www.tripwire.com/state-of-security/featured/cybersecurity-in-2022-and-beyond/" target="_blank">
                  <div class="ct-blog-content">
                  <div class="ct-blog-date">
                    <span>December</span><strong>21</strong>
                  </div>
                  <h3 class="ct-blog-header">
                    Cybersecurity in 2022 and Beyond
                  </h3>
                </div>
                <div class="preview">
                  <p>It’s that time of year that the usual happens. Christmas crackers with bad jokes. Holiday specials on TV (constantly). And cyber specialists like me make predictions about the year to come. With the help of insights from Gartner and my own views on what we are likely to see in 2022, I think I can help you with a couple of these.</p> 
                 </div>
              </a>
              </div>

<!--News text 3-->
                <div class="slide-txt">  
                  <a href="https://www.cybercom.mil/Media/News/Article/2861207/dept-of-defenses-largest-multinational-cyber-exercise-yet-focuses-on-collective/" target="_blank">
                  <div class="ct-blog-content">
                  <div class="ct-blog-date">
                    <span>December</span><strong>03</strong>
                  </div>
                  <h3 class="ct-blog-header">
                    Dept. of Defense’s largest multinational cyber exercise yet focuses on collective defense
                  </h3>
                </div>
                <div class="preview">
                 <p>SUFFOLK JOINT DOD COMPLEX, Va.  –  U.S. Cyber Command’s CYBER FLAG 21-1 exercise, its largest multinational cyber exercise to date, bolstered the defensive skills of more than 200 cyber operators from 23 countries at Joint Base Suffolk, Virginia, from Nov. 15-20.</p> 
                </div>
                </a>
              </div>

 <!--News text 4-->               
                <div class="slide-txt">  
                  <a href="https://www.wsj.com/articles/companies-face-stricter-cyber-rules-in-2022-11641205804#:~:text=U.S.%20officials%20in%202022%20are,%2C%20of%20Booz%20Allen%2C%20said." target="_blank">
                  <div class="ct-blog-content">
                  <div class="ct-blog-date">
                    <span>January</span><strong>03</strong>
                  </div>
                  <h3 class="ct-blog-header">
                    Companies Face Stricter Cyber Rules in 2022
                  </h3>
                </div>
                <div class="preview">
                  <p>In July, the Senate confirmed Chris Inglis as the first national cyber director, a role Mr. Inglis has described as a quarterback for the government’s cybersecurity efforts. During his confirmation hearing in June, Mr. Inglis previewed more assertive action from the government along the same lines as it enforces standards for the aviation sector. </p> 
                  </div>
              </a>
              </div>

            </div>
                
</div>
</div>
 </div>


         
        </section>

        
  <footer>
    <div class="social-media">
     <p>Follow Us |  
       <a href="https://www.linkedin.com/company/zra-llc" target="blank_"><img src="assets/ZRA Website 2022-16.png" class="linkedin-logo"></a>
       

       <a href="https://twitter.com/zeichnerrisk?lang=en" target="blank_">
       <img src="assets/ZRA Website 2022-15.png" class="twitter-logo">
      </a>
      
     </p>
    
 
    </div>
    
   <p><a routerLink="/contact">Contact </a>    |      <a routerLink="/careers">Careers</a>      |      <a  routerLink="/about">About</a>     <br>
   <a style="color:rgb(114, 115, 117)">© Copyright 2021 ZRA, All Rights Reserved</a></p>
 </footer>
  

 </main>




<!----------------------------Script---------------------------->
<script>
videoElement.play();
</script>

</body>
</html>
